  <head>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "trueGood" %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div ng-app="job-app" class="container">
    <div ng-controller="JobCtrl">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"/>
          <li class="toggle-topbar menu-icon">
            <a href="#">
              <span>Menu</span>
            </a>
          </li>
        </ul>
            <section class="top-bar-section" id="navbarR">
              <ul>
                <li>
              <!-- this is the about page pop up bow below -->
                  <a href="#" class="njob" data-reveal-id="myModal">About</a>
                  <div id="myModal" class="reveal-modal" data-reveal>
                    <img id="imgAbout" ng-src="/assets/tgAbout.png">
                    <a class="close-reveal-modal">&#215;</a>
                  </div>
                </li>
                <li>
                  <a ui-sref="home">Home</a>
                </li>
                <li>
                  <a dropdown-toggle="#dropdown-example-1">Options</a>
                  <ul id="dropdown-example-1" >
                    <li>
                      <a ui-sref="jobs" id="jobsnav">Job</a>
                    </li><br>
                    <li>
                      <a ui-sref="volunteers" id="volunteernav">Volunteers</a>
                    </li><br>
                    <li>
                      <a ui-sref="good_in_numbers" id="gin">Good in Numbers</a>
                    </li><br>
                  </ul>
                </li>
              <%if current_user%>
                <li>
              <!-- this is an attempt at a new resource page! -->
                  <div ng-controller="ModalCtrl" >
                    <script type="text/ng-template" id="myModalContent.html">
                    <h3>New Job:</h3>
                      <form name="form" ng-submit="saveJob();" class="form-group" >
                        <label for="time_preference"><strong>Time Preference:</strong></label>
                          <input ng-model="newJob.time_preference" type="time" name="time_preference" class="form-control" placeholder="Time Preference">
                        <label for="tools"><strong>Tools:</strong></label>
                          <input ng-model="newJob.tools" type="text" name="tools" class="form-control" placeholder="Tools">
                        <label for="type_of_work"><strong>Type:</strong></label>
                          <input ng-model="newJob.type_of_work" type="text" name="type_of_work" class="form-control" placeholder="Type of Work">
                        <label for="duration"><strong>Duration:</strong></label>
                          <input ng-model="newJob.duration" type="text" name="duration" class="form-control" placeholder="Duration">
                        <label for="recurring"><strong>Recurring:</strong></label>
                          <input ng-model="newJob.recurring" type="checkbox" name="recurring" class="form-control"><br>
                        <label for="location"><strong>Location:</strong></label>
                          <input ng-model="newJob.location" type="text" name="location" class="form-control" placeholder="Location">
                        <label for="contact_phone"><strong>Phone #:</strong></label>
                          <input ng-model="newJob.contact_phone" type="tel" name="contact_phone" class="form-control" placeholder="Phone #">
                        <label for="contact_email"><strong>Email:</strong></label>
                          <input ng-model="newJob.contact_email" type="email" name="contact_email" class="form-control" placeholder="Email">
                        <br>
                      </form>
                      <button class="button" ng-click="ok()">OK</button>
                      <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
                    </script>
                    <a ng-click="open()" id="newtask">New Task</a>
                  </div>
                </li>
                <%end%>
              </ul>
            <!-- Right Nav Section -->
              <ul class="right">
                <% if current_user %>
                  <li>
                    <a ui-sref="resident_profile">Profile</a>
                  </li>
                  <li>
                    <%= link_to "Sign Out", sessions_path, :method => :delete %>
                  </li>
                <% else %>
                  <li>
                    <a href="#" data-reveal-id="myModal3">Sign In</a>
                      <div id="myModal3" class="reveal-modal" data-reveal>
                        <%= render :partial => 'sessions/new' %>
                        <a class="close-reveal-modal">&#215;</a>
                      </div>
                  </li>
                  <li>
                    <a href="#" data-reveal-id="myModal6">Sign Up</a>
                      <div id="myModal6" class="reveal-modal" data-reveal>
                        <%= render :partial => 'users/new' %>
                        <a class="close-reveal-modal">&#215;</a>
                      </div>
                  </li>
                <% end %>
              </ul>
            </section>
      </nav>
  <%= yield %>
  <a href="#" id="back-top"><img src='assets/uparrow.png'></a>
  </body>
  <script type="text/javascript">
            // Assuming jQuery.noConflict(); has been called
            jQuery(function () {
                jQuery(document).ready(function () {
                    jQuery("#back-top").hide();
                    jQuery(function () {
                        jQuery(window).scroll(function () {
                            if (jQuery(this).scrollTop() > 200) {
                                jQuery('#back-top').fadeIn('slow');
                            } else {
                                jQuery('#back-top').fadeOut('slow');
                            }
                        });
                        jQuery('#back-top').click(function () {
                            jQuery('body,html').animate({
                                scrollTop : 0
                            }, 1000);
                            return false;
                        });
                    });
                });
            });
        </script>