<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "trueGood" %></title>


<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>

<body>
<div ng-app="job-app" class="container">
  <div ng-controller="JobCtrl">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left white">
              <li>
                  <!-- this is the about page pop up bow below -->
                <a href="#" class="njob" data-reveal-id="myModal"><strong>About</strong></a>
                <div id="myModal" class="reveal-modal" data-reveal>
                  <h2>trueGood</h2>
                    <p>We created trueGood to connect the elderly and disabled with volunteers who have the desire to perform household tasks for them. Sign up and start spreading the trueGood.</p>
                  <h3>Created By</h3>
                    <p>Matt Kam and Mike Duval</p>
                <a class="close-reveal-modal">&#215;</a>
                </div>
              </li>
              <li>
                <a ui-sref="home">Home</a>
              </li>
              <li >
                    <a dropdown-toggle="#dropdown-example-1" class="left white">Options</a>
                  <ul id="dropdown-example-1" >
                    <li>
                      <a ui-sref="jobs">Job</a>
                    </li><br>
                    <li>
                      <a ui-sref="volunteers">Volunteers</a>
                    </li><br>
                    <li>
                      <a ui-sref="good_in_numbers">Good in Numbers</a>
                    </li><br>
                  </ul>
                </li>
                <%if current_user%>
              <li>
                <!-- this is an attempt at a new resource page! -->

                <div ng-controller="ModalCtrl" >
              <script type="text/ng-template" id="myModalContent.html" class="modal">
                <h3>New Job:</h3>
                  <form name="form" ng-submit="saveJob();" class="form-group" >
                    <label for="time_preference"><strong>Time Preference:</strong></label>
                      <input ng-model="newJob.time_preference" type="time" name="time_preference" class="form-control" placeholder="Time Preference">
                    <label for="tools"><strong>Tools:</strong></label>
                      <input ng-model="newJob.tools" type="text" name="tools" class="form-control" placeholder="Tools">
                    <label for="type_of_work"><strong>Type:</strong></label>
                      <input ng-model="newJob.type_of_work" type="text" name="type_of_work" class="form-control" placeholder="Type of Work">
                    <label for="duration"><strong>Duration:</strong></label>
                      <input ng-model="newJob.duration" type="text" name="duration" class="form-control" placeholder="Duration">
                    <label for="recurring"><strong>Recurring:</strong></label>
                      <input ng-model="newJob.recurring" type="checkbox" name="recurring" class="form-control"><br>
                    <label for="location"><strong>Location:</strong></label>
                      <input ng-model="newJob.location" type="text" name="location" class="form-control" placeholder="Location">
                    <label for="contact_phone"><strong>Phone #:</strong></label>
                      <input ng-model="newJob.contact_phone" type="tel" name="contact_phone" class="form-control" placeholder="Phone #">
                    <label for="contact_email"><strong>Email:</strong></label>
                      <input ng-model="newJob.contact_email" type="email" name="contact_email" class="form-control" placeholder="Email">
                    <!-- <input ng-model="newResource.description" name="description" class="form-control"placeholder="Description"> --><br>
                  </form>
                <button class="button" ng-click="ok()">OK</button>
                <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
            </script>
            <a ng-click="open()" style="color:white;">New Task</a>
          </div>
                </li>
                <%end%>
            </ul>

              <!-- Right Nav Section -->
              <% if current_user %>
            <ul class="right">

                <li>
                  <a ui-sref="resident_profile">Profile</a>
                </li>
                <li>
                  <%= link_to "Sign Out", sessions_path, :method => :delete , style: 'font-weight:bold;'%>
                </li>

              <% else %>

                <li>
                  <a href="#" data-reveal-id="myModal3"><strong>Sign In</strong></a>
                    <div id="myModal3" class="reveal-modal" data-reveal>
                      <%= render :partial => 'sessions/new' %>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </li>
                <li>
                  <a href="#" data-reveal-id="myModal6"><strong>Sign Up</strong></a>
                  <div id="myModal6" class="reveal-modal" data-reveal>
                    <%= render :partial => 'users/new' %>
                    <a class="close-reveal-modal">&#215;</a>
                  </div>
                </li>

            </ul>
            <% end %>
          </section>
</nav>
<!-- nav bar above - no formatted yet! -->


<!-- <a href="#" data-dropdown="drop1" class="button dropdown">Dropdown Button</a><br>
<ul id="drop1" data-dropdown-content class="f-dropdown">
<li><%#=  session[:remember_token] %></li>
<#% if !current_user %>
<li><%#= link_to "Sign Up", new_user_path %></li>
<li><%#= link_to "Sign In", new_sessions_path %></li>
<#% else %>
<li><%#= link_to "Sign Out", sessions_path, :method => :delete %></li>
<#% end %>
</ul> -->

<%= yield %>


</body>
</html>